<!DOCTYPE html>
<html>
        
    <head>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"
        <title>{{title}}</title> -->
       
    </head>
    <nav>
     

        </div>
            
            <div class="topnav">
                
    
                <h3>Greetings {{session.user}}</h3>
          

            <a class="active" href=/home>Home</a>
            <a href="/index ">Clothing Index</a>
            <a href="/saved_items">Saved Items</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <!-- <input type="text" placeholder="Search.."> -->
        </div>

        <!-- <div class="sidenav">
            <a href="/mapofeurope">Map of Europe</a>
            <a href="/mapofasia">Map of Asia</a>
            <a href="/culturesbycentury">Cultures by century</a>
            <a href="/index ">Clothing Index</a>
            </div>
             -->
            <!-- Page content -->
        <div class="main"
    </nav>
<body>

    {% block content %}
    


  
  
    {% endblock %}

</body>
</html>